@use "@styles/globals.module.scss";

.label {
    display: flex;
    border: solid 1px var(--labelBorderColor, var(--borderColor, #444444));
    border-radius: 16px;
    padding: 0;
    > span {
        flex-grow: 1;
        padding: 0;
        > * {
            padding: 8px 16px;
            border-radius: 0;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            border: none;
            width: 100%;
        }
        :global(.ant-select) {
            width: 100%;
            padding: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: none !important;
            > :global(.ant-select-selector) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border: none;
            }
        }
    }
    > label {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 16px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: solid 1px var(--labelBorderColor, var(--borderColor, #444444));
    }
}