@use "@styles/globals.module.scss";

.label {
    display: flex;
    border: solid 1px var(--borderColor);
    border-radius: var(--borderRadiusLarge);
    padding: 0;
    > span {
        flex-grow: 1;
        padding: 0;
        > * {
            padding: var(--paddingXS) var(--paddingSmall);
            border-radius: 0;
            border-top-right-radius: var(--borderRadiusLarge);
            border-bottom-right-radius: var(--borderRadiusLarge);
            border: none;
            background-color: var(--bgLightColor);
            width: 100%;
        }
        :global(.ant-select) {
            width: 100%;
            padding: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: none !important;
            > :global(.ant-select-selector) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border: none;
            }
        }
    }
    > label {
        display: inline-block;
        padding: var(--paddingXS) var(--paddingSmall);
        border-radius: var(--borderRadiusLarge);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: solid 1px var(--borderColor);
        background-color: var(--bgLightColor);
    }
}