@use "@styles/globals.module.scss";

.queue {
    text-align: center;
    border-bottom: solid 1px var(--borderColor);
    padding-bottom: var(--paddingSmall);
    margin-bottom: var(--paddingSmall);
    span {
        display: inline-block;
        margin: 0 0.5rem;
    }
}