@use "@styles/globals.module.scss";

.queue {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 8px;
    span {
        display: inline-block;
        margin: 0 0.5rem;
    }
}