@use "@styles/globals.module.scss";

.contentPlaceholder {
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    h3 {
        margin-top: 0;
        margin-bottom: 8px;
    }

    p {
        max-width: 400px;
        margin: 0;
        font-size: 0.9em;
        line-height: 1.5;
    }
}
