@use "@styles/globals.module.scss";

.link {
    display: flex;
    flex-wrap: none;
    position: relative;
    padding: var(--paddingXS) 0 var(--paddingXS) var(--paddingSmall);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid 1px var(--borderColor);
    border-radius: 0.5rem;
    background-color: var(--bgLightColor);
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &.horizontal {
        display: inline-block;
        flex-direction: row;
        align-items: center;
    }
    .icon {
        padding-top: 4px;
        margin-right: 8px;
    }
    .content {
        display: inline-block;
        width: 100%;
    }
}